<%= turbo_stream_from "article_updated_alert" %>
<div class="alert alert-primary" role="alert" id="article_updated_alert">
    We have <%= count %> articles in DB, last one updated at <%= last_updated %>
</div>