<!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-12 col-lg-12 col-xl-12">
  <h2>New Article</h2>

  <%= render 'form', article: %>
</div>
</div>
</div>